body {
  padding: 30px;
  font-family: 'Rye', cursive;
  color: #ccad00;
  background-image: url("/harry_potter.gif");
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: darkred;
}

#menu {
  width: 220px;
  display: flex;
  margin: 0 auto;
}

#muder-button {
  margin: 10px;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}

#logo {
  text-align: center;
}

#student-wrapper {
  margin-left: 300px;
}
.student {
  border: 5px double;
  margin: 0 35px 30px 0;
  padding: 25px;
  width: 200px;
  display: inline-block;
}

.form-el {
  margin: 10px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}


button,
input,
select,
[type='button'] {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 50; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

p {
  text-align: center;
}
